# PyCharm project files
.idea/

# Virtual environments
venv/
env/
.env/

# Python bytecode and cache files
__pycache__/
*.pyc
*.pyo

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log

# Editor files
.vscode/
*.swp
